#playCard1 {
    width: 280px;
    height: 390px;
    background-image: url(Image/cardback_20.png)
    
}
#playCard2 {
    width: 280px;
    height: 390px;
    background-image: url(Image/cardback_20.png)
    
}
#playCard3 {
    width: 280px;
    height: 390px;
    background-image: url(Image/cardback_20.png)
    
}
#playCard4 {
    width: 280px;
    height: 390px;
    background-image: url(Image/cardback_20.png)
    
}
#playCard1:active {
    width: 280px;
    height: 390px;
    object-fit: contain;
    background-image: url(Image/1.jpg)
    
}
#playCard2:active {
    width: 280px;
    height: 390px;
    object-fit: contain;
    background-image: url(Image/2.png)
    
}
#playCard3:active {
    width: 280px;
    height: 390px;
    object-fit: contain;
    background-image: url(Image/3.png)
    
}
#playCard4:active {
    width: 280px;
    height: 390px;
    object-fit: contain;
    background-image: url(Image/4.png)
    
}
